*
   {margin:0;padding:0;
    }
	
   header{background-image:url("image.png");
     height: 230vh;
     background-size:cover;
     background-position:center;
	}   
	
   .background{background-color:white;
    }
	
	 /*navigation bar*/
    .navs li {display:inline-block;
	 font-size:30px;padding:20px;
	 margin-left:30px;
	 font-family:Arial Nova;
	 font-weight:bold;
	 text-decoration:none;
	}
	
    .navs {background-color:#FFD700;
	 list-style-type:none;
	 text-align:center;
	 color:white;
    }
	 
    .designs li a:hover{border:1px solid black;
	 color:blue;
	 padding:10px;
	}
	 
	h1.top{text-align:center;
	 font-size:50px;
	 color:black;
	 padding-top:50px;
	 padding-bottom:50px;
	}	
		   
	 /*Website Title*/
	h1#title{text-align:center;
	 font-size:100px;
	 background-image:url("thHENTJN76.jpg");
     background-size:cover;
	 background-position:center;
	 padding:50px;
	 font-family:sanserif;
	 color:yellow;
	 text-shadow:-5px -6px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    }
	 
	 /*For the contents of Front-page*/
	p.text{font-size:30px;
	 background-color:lightgrey;
	 border:5px solid blue;
	 float:center;
	 margin-left:300px;
	 margin-right:280px;
	 padding:20px;
	}
	 
	p.texts{font-size:30px;
	 background-color:lightgrey;
	 border:5px solid blue;
	 margin:20px;
	 margin-left:200px;
	 margin-right:200px;
	 padding:23;
	}
	 
	p.copyright{background-color:#29B6F6;
	 text-align:center;
	 font-size:20;
	}
	 
	div.box{font-size:40px;
     padding:25;
	 background-color:white;
	 border:5px solid blue;
	 margin:50px;
	 margin-left:300px;
	 list-style:none;
	 margin-right:300px
	}
	
	li.boxes{padding:10px;
	}
	
	li.Box{text-align:center;
	 font-weight:bold;
	 margin-bottom:10px;
    }
	
	.picA{float:left;
	 padding-left:160px;
	}
	pre.second{padding-left:159px;
	 padding-top:50px;
	 font-weight:bold;
	 font-size:30px;
	}
	
	.picB{float:right;
	padding-right:1px;
	}
	
	pre.Text{margin-top:30px;
	 font-weight:bold;
	 font-size:30px;
	 padding-left:135px
	}
	
	pre.Texts{margin-top:30px;
	 font-weight:bold;
	 font-size:30px;
	 padding-left:195px
	}
			 		 
	/*This are for Class numbers*/
	pre.b27{margin-top:30px;
	 font-weight:bold;
	 font-size:30px;
	 padding-left:135px;
	 font-size:25;
	}
	
	pre.b9{margin-top:30px;
	 font-weight:bold;
	 font-size:30px;
	 padding-left:175px;
	 font-size:25;
	}
	
	pre.b18{margin-top:30px;
	 font-weight:bold;
	 font-size:30px;
	 padding-left:195px;
	 font-size:25;
	}
	
	h1.Head{text-align:center;
	 font-size:40px;
	 color:black;
	 padding-top:50px;
	 padding-bottom:20px;
	 background-color:lightgrey;
	 width:400px ;
	 border:5px solid blue;
     padding:20px;
	 margin: 20px;
	 margin-left:450px;
    }		
		   
	.Textss{font-size:25px;
	 background-color:white;
	 width:50px;
	 border:3px solid red;
	 padding:25px;
	 margin:25px;
	 margin-left:450px;
	 margin-top:100px;
	 font-weight:bold;
	}
	
	.Taxt{font-size:25px; 
	 background-color:white;
	 width:50px;
	 border:3px solid red;
	 padding: 25px;
	 margin:25px;
	 margin-right:150px;
	 margin-top:100px;
	 font-weight:bold;
	 float:right;
	}
	
	 div.Background{background-color:lightgrey;
	 border:2px solid blue;
	 padding: 20px;
	 margin:20px;
	 margin-left:50px;
	 height:160vh
	}
	
	h1.Heads{text-align:center;
	 padding-top:10px;
	}	
	
    .pict{float:right;
	}
	
	h1.tophead{text-align:center;
	 font-size:40px;
	 margin-top:10px;
	}		
	
	p.words{background-color:lightgrey;
	 border:5px solid blue; 
	 padding:25px;
	 margin:25px;
	 margin-left:200px;
	 margin-right:200px;
	}
	
	p.word{background-color:lightgrey;
	 border:5px solid blue; 
	 padding: 25px;
	 margin: 25px;
	 margin-left:300px;
	 margin-right:300px;
	}
	
    p.button{text-decoration:none;
		display:inline-block;
		padding:1px 20px;
		margin-top:30px;
	}
	
	.next
	{
		color:black;
		border:1px solid black;
		background-color:lightgrey;
		border:3px solid blue; 
		padding: 15px;
		margin: 15px;
		margin-left:0px;
		padding-bottom:10px;
		font-size:30;
	}
	
	.prev
	{
		color:black;
		border:1px solid black;
		background-color: lightgrey;
		border:3px solid blue; 
		padding: 15px;
		margin:15px; 
		margin-left:500px;
		padding-bottom:10px;
		font-size:30;
	}
	
	h1.HEADING{text-align:center;
	 font-size:50px;
	 color:black;
	 padding-top:20px;
	 padding-bottom:30px;
	}	
	
    h2.SECOND{padding-left:300px;
	}
	
	ul.TEXT{background-color: lightgrey; 
	 width: 700px ;
	 border:5px solid blue; 
	 padding: 25px;
	 margin: 25px; 
	 margin-left:300px
	}
	
	h3.h3{padding-left:335px;
	 padding-top:10px;
	}
	
	p.buttons{text-decoration:none;
	 display:inline-block;
	}
				
	p.subtitle{padding-left:200px;font-size:20;
	 padding-top:50px;
	 padding-bottom:100px;
	}
	
	pre.answer{padding-left:200px;
	 font-weight:bold;font-size:15;
	}
	
	h2.quest{font-weight:bold;
	 padding-left:200px;
	}
	
	div.white{font-size:20px;background-color:lightgrey;
	 border:5px solid blue;padding: 25px;
	 margin: 25px;margin-left:45px;
	}
	
	.prevs{color:black;
	 border:1px solid black;
	 background-color:lightgrey;
	 width:200px;
	 border:3px solid blue;
	 padding:15px;margin:15px; 
	 margin-left:550px;
	 padding-bottom:10px;
	 font-size:30
    }
	
    .videocenter{margin:auto; 
	 width:800px;
	 height:450px;
	 margin-left:270px;
	 margin-right:100px;
	 border:2px solid black;
	}	
	
	.img_E-learning{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
    }
	
	.container {position:relative;
	 text-align:bottom-left;
	 color:none;
	}
	
	 /* Bottom left text */
    .text-block {
     position: relative;
     bottom: 20px;
     left: 20px;
     background-color:none;
     color:Black;
     padding-left:20px;
     padding-right:20px;
    }

	 
